.cardOuter {
  background-color: blue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.cardInner {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 7fr;
  gap: 10px;
  text-align: center;
  height: clamp(400px, 80%, 400px);
  width: clamp(600px, 80%, 600px);
  border: 10px solid black;
  border-width: 10px 20px 20px 10px;
  box-shadow: 5px 5px 0px 10px;
  clip-path: polygon(
    0 0,
    0 calc(100% - 10px * sqrt(2)),
    calc(10px * sqrt(2)) 100%,
    100% 100%,
    100% calc(10px * sqrt(2)),
    calc(100% - 10px * sqrt(2)) 0,
    100% 0
  );
}

@media (orientation: portrait) {
  /* Styles to apply when the viewport is in portrait orientation */
  .cardInner {
    height: 80%;
    width: 80%;
  }
}

.setup {
  /* background-color: chocolate; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
  font-weight: 100;
  margin: 20px;
}

.punchline {
  /* background-color: mediumseagreen; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 2rem;
  font-weight: bolder;
}

.revealed {
  margin: 20px;
}

.revealPunchline {
  background-color: black;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.newJoke {
  background-color: yellow;
  border: 5px solid black;
  border-width: 5px 10px 10px 5px;
  padding: 10px;
  font-size: 1rem;
  user-select: none;
  cursor: pointer;
  clip-path: polygon(
    0 0,
    0 calc(100% - 5px * sqrt(2)),
    calc(5px * sqrt(2)) 100%,
    100% 100%,
    100% calc(5px * sqrt(2)),
    calc(100% - 5px * sqrt(2)) 0,
    100% 0
  );
}

.langButton {
  background-color: white;
  border: 5px solid black;
  color: black;
  text-decoration: none;
  border-width: 5px 10px 10px 5px;
  padding: 10px;
  font-size: 1rem;
  user-select: none;
  cursor: pointer;
  clip-path: polygon(
    0 0,
    0 calc(100% - 5px * sqrt(2)),
    calc(5px * sqrt(2)) 100%,
    100% 100%,
    100% calc(5px * sqrt(2)),
    calc(100% - 5px * sqrt(2)) 0,
    100% 0
  );
}

.langButton:hover {
  background-color: yellowgreen;
  opacity: 1;
}

.langButtonUnselected {
  opacity: 0.6;
}

.langButtonSelected {
  background-color: white;
}
